.Icon_Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.Manufacturer {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0px 52px;
    /* justify-content: center; */
    text-align: center;
}

.BagIcon {
    width: 40px;
    /* width: 101px; */
    text-align: center;
    margin: 0px 74px;
    background: #ececec;
    border-radius: 50%;
    height: 42px;
}