
.Breadcrumbs_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding: 50px 16%;
}

.MapIcon {
    color: #fffefe;
    /*padding: 20px 10px;*/
    width: 20px;
    height: 20px;
}

.Title_wrap {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    /*padding: 0px 125px;*/
}
.Title_wrap span{
    font-size:14px ;
    padding-top: 30px;
}
.mapWrap{
    display: flex;
    flex-direction: row;
    color: #fffefe;
}
.mapWrap a{
    text-decoration: none;
    color:#fffefe;
}

.map_wrap span {
    font-size: 10px;

}
.breadcrumb_wrapper {
    display: flex;
    flex-direction: row;
}

.mapAddWrapper {
    display: flex;
    padding: 2px 0px;
}

.successIcon {
    color: #33b633;
    /*padding: 20px 10px;*/
    width: 20px;
    height: 20px;
}
.ratingWrapper{
    display: flex;
}

.rating_Icon {
    color: #fffefe;
    width: 20px;
    height: 20px;
}
.GstWrap{
    display: flex;
    padding: 2px 21px;
}

.star_Icon {
    color: gold;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    gap: 10px;
}
.Logo{
    width: 17%;
    margin: -126px 0 0 72%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.HomeTaps_Wrapper{
    margin:2% 2%;
    border-radius: 4px;
}
.CardsWrapper{
    display: flex;
    gap: 20px;
}
.CardsWrapper{
    display: flex;
    align-items: flex-start;
    /*gap: 20px;*/
    padding: 0 62px;
    justify-content: center;
    overflow: auto;
}
.CardsWrapper::-webkit-scrollbar {
    display: none;
}